<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <title><%= title%></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body class="container">
  <header class="bg-white" style="width:100%;">
    <nav class="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">Laravel</li>
      </ul>
      <ul class="navbar-nav list-group-horizontal ">
        <li class="nav-item ">
          <button class="border-0 bg-transparent" type="button" onclick="location.href='/register'">
            Login
          </button>
        </li>
        <li class="nav-item">
          <button class="border-0 bg-transparent" type="button" onclick="location.href='/'">
            Register
          </button>
        </li>
      </ul>
    </nav>
  </header>

  <main style="margin:10px; border: solid 1px #DFDFDF; background-color: #F8FAFC;">
    <div style="padding: 10px; background-color: #F7F7F7;"><%= title%></div>
    <form class="bg-white text-center" style="padding: 20px;" action="" method="">
      <div class="d-inline-flex flex-column">
        <div class="form-group d-inline-flex align-items-center justify-content-end">
          <label class=" text-center" for="email">E-Mail Address</label>
          <div style="padding-left: 10px;">
            <input type="email" id="email" class="form-control " aria-describedby="emailHelp" placeholder="">
          </div>
        </div>
        <div class="form-group d-inline-flex align-items-center justify-content-end">
          <label for="password">Password</label>
          <div style="padding-left: 10px; ">
            <input type="password" id="password" class="form-control" placeholder="">
          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" id="checkbox" class="form-check-input">
        <label class="form-check-label" for="checkbox">Remember Me</label>
      </div>
      <button type="button" class="btn btn-primary" onclick="location.href='/register'">
        Login
      </button>
      <button type="button" class="border-0 bg-transparent text-primary">Forgot Your Password?</button>
      </div>
    </form>
</body>

</html>